.nav {
  background-color: orange;
  position: fixed;
  left: 0;
  right: 0;
  top: 5px;
  height: 30px;
  display: flex;
  align-items:inherit;
  box-shadow: 0 0 25px 0 black;
}

.NavLink a{
  color: blue;
  text-decoration: none;
}
