.App {
  margin-left: 5vw;
  margin-right: 5vw;
  text-align:center;
}

.App-logo {
  height: 40vh;

}


.App-header {
  background-color: #96af6f;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow:1px 1px #334713;
  box-shadow: 2px 2px #334713;
}
.App-header > a{
  color: #ffffff;
}

.logo{
  text-shadow:1px 1px #334713;
}

.App-link {
  color: #94e08a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchbox{
  margin-left: 25vw;
  display: flex;
  max-height: 4vh;
  max-width: flex;
  flex-direction: row;
  padding-bottom: 5%;
  padding-top: 5%;
}
 .searchbox> input{
background-color: #ffffff;
position:inherit;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(217, 228, 190);
  font-family: Helvetica, sans-serif;
  color:#ffffff
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Cuisine button */
.dropdown .dropbtn {
border-radius: 5px;  
text-shadow: 2px 2px #334713;
  color: white;
  padding: 1vw 1vh;
  background-color: #96af6f;
  font-family: inherit; /* Important for vertical align on mobile phones */
  /* margin-left: 5vw; Important for vertical align on mobile phones */
  cursor: pointer;
  width: 80vw;
  height: 10vw;
}

/* Add a  background color to navbar links on hover */
.navbar a:hover, .dropdown:active .dropbtn {
  background-color: rgb(0, 0, 0);
}
.dropdown:hover .dropbtn {
  background-color: #bcc2bc;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float:none;
  color: rgb(121, 151, 100);
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: contents;
  float:inline-end;
  overflow:scroll;
}

h1{
  color: #ffffff;
}
h2{
  color: #4a661c;
}
h3{
  color: #355a24;
}
ul{
  list-style-type: disc;
}
li{
  list-style-type:none;
}
.recipeCard{
  background-color: #e1e2df;
}